:root {
    --cream--color: #F7FFF7;
    --black--color: #292F36;
    --tan--color: #91785D;
    --green-color: #00916E;
    --aqua-color: #2CA6A4;
}

@font-face {
    font-family: 'FeFCit2';
    src: url(fonts/FeFCit2.ttf) format('ttf'),
        url(fonts/FeFCrm2.ttf) format('ttf'),
        url(fonts/FeFCsc2.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Helvetica, sans-serif;
    color: var(--black--color);
    background: var(--cream--color);
    text-align: center;
    margin: 0 auto;
}

p {
    font-size: 1.3em;
    margin: 10px;
}

img {
    width: 60%;
    margin: 10px;
}

nav {
    font-family: 'FeFCit2';
    margin: 0 auto 0 auto;
    border-radius: 50px;
    font-size: 2.4vw;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li a {
    display: inline-block;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

header {
    background: var(--black--color);
    color: var(--cream--color);
    display: flex;
    align-items: center;
    justify-content: center;
}

section.header:nth-of-type(1){
    flex: 2.5;
}

section.header:nth-of-type(2){
    flex: 1.5;
}

#brandName {
    width: 80%;
}

Section.oneImage{
    display: flex;
    margin: 5px;
    padding: 5px;
}

article {
    border: 2px solid var(--tan--color);
    margin: 1px;
    padding: 1px;
}

article.home {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}

section.multiImage {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

article.multiReverse {
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
}

article.multi {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

article.multiAlternate {
    display: flex;
    flex-direction: row;
    width: 40%;
    margin: 10px;
}


img.resize {
    width: 40%;
}
    
h2.description {
    text-align: center;
    /*width: 60%; */
    text-decoration: none;
}

#contactPhoto {
    width: 40%;
    margin: 20px;
    padding: 10px;
}

@media screen and (min-width: 1200px){
    p {
        font-size: 1.5em;
    }
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 1199px) {
        section.oneImage {
        flex-direction: column;
    }
    img {
        text-align: center;
        width: 90%;
    }
    ul {
        flex-direction: column;
        ;
    }
    ul li {
        margin: 3vw;
    }
    #contactPhoto {
        width: 90%;
    }
    article.multi {
        flex-direction: column;
        img.resize {
            width: 100%;
        }
    }
    article.multiReverse {
        flex-direction: column;
    }
    article.multiAlternate {
        flex-direction: column;
    }
}