:root {
    --cream--color: #F7FFF7;
    --black--color: #292F36;
    --tan--color: #91785D;
    --green-color: #00916E;
    --aqua-color: #2CA6A4;
}

@font-face {
    font-family: 'FeFCit2';
    src: url(fonts/FeFCit2.ttf) format('ttf'),
        url(fonts/FeFCrm2.ttf) format('ttf'),
        url(fonts/FeFCsc2.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Helvetica, sans-serif;
    color: var(--black--color);
    background: var(--cream--color);
    padding: 0 40px;
    text-align: center;
    margin: 0 auto;
}

p {
    font-size: 1.2em;
    margin: 10px;
}

img {
    width: 60%;
    margin: 10px;
}

nav {
    font-family: 'FeFCit2';
    margin: 150px auto 0 auto;
    width: 450px;
    border-radius: 50px;
    background: #292F36;
    font-size: 1.7em;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: inline-block;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
    padding: 5px auto;
    margin: 10px auto;
}

h1 a {
    color: var(--aqua-color);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--tan--color);
}

header {
    background: var(--black--color);
    color: var(--cream--color);
    display: flex;
}

section.header:nth-of-type(1){
    flex: 3;
}

section.header:nth-of-type(2){
    flex: 1;
}

#brandName {
    width: 70%;
}

Section.oneImage{
    display: flex;
    margin: 5px;
    padding: 5px;
}

article.home {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}

section.multiImage {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

article.multiReverse {
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
}

article.multi {
    display: flex;
    flex-direction: row;
    margin: 10px;
}



img.resize {
    width: 40%;
}
    
h2.description {
    text-align: center;
    /*width: 60%; */
    text-decoration: none;
}