<nav>
    <ul>
      <li><a href="/home.html" title="Go home">Home</a></li>
      <li><a href="/.html" title="How to contact me">Contact</a></li>
      <li><a href="/.html" title="Bearly Baking experience">Bearly Baking</a></li>
      <li><a href="/.html" title="Work">Work</a></li>
      <li><a href="/.html" title="Bewitched work">Bewitched</a></li>
    </ul>
  </nav>