:root {
    --cream--color: #F7FFF7;
    --black--color: #292F36;
    --tan--color: #91785D;
    --green-color: #00916E;
    --aqua-color: #2CA6A4;
}

body {
    font-family: Helvetica, sans-serif;
    color: var(--black--color);
    background: var(--cream--color);
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 250px;
    border-radius: 50px;
    background: #292F36;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: inline-block;
    padding: 5px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}


h1 {
    font-size: 8em;
    letter-spacing: -2px;
    padding: 0, 5;
    
}

h1 a {
    color: var(--aqua-color);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--tan--color);
}

h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header {
    background: var(--black--color);
    color: var(--cream--color);
    display: flex;



}